@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-max-chars {
    max-width: 400px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
